.ui.main.container {
    margin-top: 5em;
}

.logoButton {
    margin-top: 9px;
    position: fixed;
    left: 65px;

}

.homePageButton {
    margin-top: 4px;
    position: fixed;
    left: 170px;

}

.jobSeekerPosition {
    margin-top: -2px;
    position: relative;
    left: 1000px;

}

.jobSeekerEnter {
    position: relative;
    left: -5px;


}

.categories {
    position: fixed;
    left: 170px;
    margin-top: -280px;

}

.descriptionPosition {
    left: 900px;
    margin-top: 15px;

}

.searchButton {
    margin-top: 10px;
    position: fixed;
    left: 700px;

}



.footer {
    position: relative;
    margin-top: 515px;
    bottom: 0;
    right: 5px;
}